---
permalink: index.xml
---
<?xml version='1.0' encoding='UTF-8'?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>polycule</title>
    <link href='{{URIs.root}}/polycule/index.xml' rel='self' />
    <updated>{{fullisodate (now)}}</updated>
    <author>
        <name>alifeee</name>
    </author>
    <id>{{URIs.root}}/</id>
    <entry>
        <title>polycule</title>
        <link href='{{URIs.root}}/polycule/' />
        <id>uuid:{{id (polycule)}}</id>
        <updated>{{fullisodate (now)}}</updated>
        <summary>updated!</summary>
    </entry>
</feed>
